$switch-bg-color: #EC8B5E;
$switch-bgdk-color: #603F83;



.header__container {
    display: flex;
    // border: 1px solid white;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.8rem;

    .header__logo a {
        position: relative;
        top: -.25rem;
        font-size: 1.5rem;
        font-weight: 600;
        .slash {
            position: relative;
            top: .2rem;
            left: .3rem;
            font-size: 2.1rem ;
            font-weight: 600;
            
        }        
    }

    .nav__item-group {
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }
    .nav__item {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .nav__item-hide {
        display: none;
    }
// ------------------------SWITCH-----------------------------
    .nav__switch-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 3rem;
        height: 100%;
        position: relative;
        top: 0rem;
        background-color: $switch-bgdk-color;
        color: white;
        border: none;
        outline: none;
        border-radius: 100px;
        cursor: pointer;
        transition: all .3s ease;

        &::before{
            content: "";
            // display: block;
            width: 1.1rem;
            height: 1.1rem;
            position: absolute;
            top: 0.25remrem;
            left: 0.25rem;
            // right: unset;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0 0 2px 1px rgba($color: #000, $alpha: 0.2);
            transition: transform .3s ease;
        }
        
        &.active {
            background-color: $switch-bg-color;

            &::before {
                transform: translateX(135%);                
            }
        }

        i{
            margin: 0.2rem;
        }

        

    }


}


