$switch-bg-color: #EC8B5E;
$switch-bgdk-color: #603F83;



.header__container {
    display: flex;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.2rem;
    // border: 1px solid white;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.80rem;
    padding-right: 0.5rem;
    

    .header__logo a {
        position: relative;
        top: -.1rem;
        // font-size: 1.5rem;
        font-weight: 500;
        .slash {
            position: relative;
            top: .15rem;
            left: .7rem;
            font-size: 1.5rem ;
            font-weight: 500;
            
        }        
    }

    .nav__item-group {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .nav__item {
        font-size: 1.25rem;
        font-weight: 400;
    }
    .nav__item-hide {
        display: none;
    }
// ------------------------SWITCH-----------------------------
    .nav__switch-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 2.5rem;
        height: 100%;
        font-size: 0.8rem;
        position: relative;
        top: 0rem;
        background-color: $switch-bgdk-color;
        color: white;
        border: none;
        outline: none;
        border-radius: 100px;
        cursor: pointer;
        transition: all .3s ease;

        &::before{
            content: "";
            // display: block;
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 0.10rem;
            left: 0.2rem;
            // right: unset;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0 0 2px 1px rgba($color: #000, $alpha: 0.2);
            transition: transform .3s ease;
        }
        
        &.active {
            background-color: $switch-bg-color;

            &::before {
                transform: translateX(110%);                
            }
        }

        i{
            margin: 0.2rem;
        }

        

    }


    // -------------------- RESPONSIVE --------------------
    
    @media screen and (min-width: 768px) {
    
        .nav__item-group {
          gap: 2rem;
    
          .nav__item {
            font-size: 1.1rem;
            font-weight: 500;      
            }       
        }
        .nav__item-hide {
            display: block;
        }
        
    }
    
    
}
